@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/customTheme/customTheme";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.snackSuccess{

  background: green;
  color:white;

}
.snackError{

  background: red;
  color:white;
  font-size: 16px;

}
@mixin md-icon-size($size: 24px) {
   font-size: $size !important;
  height: $size;
  width: $size;
  line-height: $size;
}

/* 2. Then use it like this in you component scss */

mat-icon {
  @include md-icon-size(32px);
}

h1{
  color:orange;
}
